# API_KEY.py
# 同济子豪兄 2024-5-22
# 各种开放平台的KEY，不要外传

# 通义千问QwenVL系列
# https://bailian.console.aliyun.com/#/model-market
Qwen_KEY = "your_qwen_key_here"


# 零一万物大模型开放平台
# https://platform.lingyiwanwu.com
YI_KEY = "your_yi_key_here"


# 百度智能云千帆ModelBuilder
# https://qianfan.cloud.baidu.com
QIANFAN_ACCESS_KEY = "your_qianfan_access_key_here"
QIANFAN_SECRET_KEY = "your_qianfan_secret_key_here"

# 百度智能云千帆AppBuilder-SDK
APPBUILDER_TOKEN = "your_appbuilder_token_here"

# OPENAI 格式如 openai ollama oneapi等
PRIVATE_API_KEY = "your_private_api_key_here"
PRIVATE_BASE_URL = "http://your_private_server:port/v1"  # 你的私有化服务地址
PRIVATE_VLM_MODEL = "your_visual_model_name"        # 你的视觉模型名称
PRIVATE_LLM_MODEL = "your_llm_model_name"  
